<div class="section"></div>
    <div class="section"></div>

    <h5 class="indigo-text">Log in to Jam!</h5>
    <div class="section"></div>

    <div class="container">
      <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">

        <form class="form login-form" method="post">
          <div class='form-group'>
            <div class='form-group'>
            </div>
          </div>

          <div class='form-group'>
            <div class='input-field col s12'>
              <input class='form-input' type='email' name='email' id='email-login' />
              <label for='email'>Enter your email</label>
            </div>
          </div>

          <div class='form-group'>
            <div class='input-field col s12'>
              <input class='form-input' type='password' name='password' id='password-login' />
              <label for='password'>Enter your password</label>
            </div>
          </div>

          <br />
          <center>
            <div class='form-group'>
              <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
              </button>
            </div>
          </center>
        </form>
      </div>

      <div class="row">
  <div class="col-md-6">
    <h5 id="loginForm" class="indigo-text">Sign up to Jam!</h5>
        <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">user name:</label>
        <input class="form-input" type="text" id="username-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

    </div>

    <script src="/js/login.js"></script>
