<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>Matched with {{user.name}}</p>
  <p>
    <span for="img" aria-label="heart">❤️</span>
  </p>
  <p>
    <button class="btn btn-primary">Match with Musician!</button>
  </p>
</div>
