{{!-- <html>
{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet"
       href = "https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel = "stylesheet"
       href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <script type = "text/javascript"
       src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>           
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
    </script> 
    <link rel="stylesheet" type="text/css" href="/css/signup.css">
    <title>Sign Up</title>
</head>
<body>
    <div id="marble"></div>
    <section id="header">
        <h1>Make Music with local artists, or collaborate virtually <em>around the world</em>.</h1>
    </section>
    <hr> --}}
<div class="row">
    <form class="form signup-form">
      <div class="form-group">
        <label for="username-signup">username:</label>
        <input class="form-input" type="text" id="username-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <input class="btn btn-primary" type="submit">signup</input>
      </div>
    </form>
  </div>
  </div>
  
  <script src="/js/signup.js"></script>
      </div> 
    </form>
  </div>
  <center>
  {{!-- <section>
    <a id="submitButton"class="waves-effect waves-light btn"><i class="material-icons left">music_note</i>Submit</a>
</section> --}}
{{!-- <script src="/public/js/signup.js"></script> --}}
</center>

<script>
  $(window).on('beforeunload', function() {
  $('body').hide();
  $(window).scrollTop(0);
});
</script>
</body>
</html> --}}